/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Color Variables */
:root {
  --background-color: #1C1C1C;
  --text-color: #FFFFFF;
  --main-color: #3FF0E1;
  --supporting-color: #9C88FF;
  --okish-color: #FECF02;
  --good-color: #51CB21;
  --bad-color: #C02668;
  --non-selected-tab-color: #333333;
  --hover-text-color: #000000;
  --non-selected-text-color: #B0B0B0;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: var(--background-color); /* Background color */
  color: var(--text-color); /* Text color */
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full screen height */
}

.app {
  display: flex;
  justify-content: space-around;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  background-color: var(--background-color); /* Background color */
}

nav ul li {
  flex: 1;
  padding: 15px 0;
  text-align: center;
  cursor: pointer;
  color: var(--non-selected-text-color); /* Lighter gray for non-selected tabs */
  background-color: var(--non-selected-tab-color); /* Background color for non-selected tabs */
  border-top: 2px solid transparent;
  transition: background-color 0.3s ease, border-top 0.3s ease, color 0.3s ease;
}

nav ul li:hover {
  background-color: var(--main-color); /* Main color on hover */
  color: var(--hover-text-color); /* Black text on hover */
}

nav ul li.active {
  background-color: var(--background-color); /* Same as background color */
  color: var(--text-color); /* White text for active tab */
  border-top: 2px solid var(--text-color); /* White underline for active tab */
}

.content {
  flex: 1;
  padding: 20px;
  background-color: var(--background-color); /* Background color */
  color: var(--text-color); /* Text color */
}

.columns {
  display: flex;
  justify-content: space-around;
  width: 100%;
  flex: 1; /* Take up remaining space */
}

.column {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the top */
  width: 30%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.column:first-child {
  background: linear-gradient(to bottom right, var(--background-color) 50%, rgba(62, 182, 81, 0.15) 100%); /* First column gradient */
}

.column:nth-child(2) {
  background: linear-gradient(to bottom right, var(--background-color) 50%, rgba(234, 215, 39, 0.15) 100%); /* Second column gradient */
}

.column:last-child {
  background: linear-gradient(to bottom right, var(--background-color) 50%, rgba(244, 97, 85, 0.15) 100%); /* Last column gradient */
}

.column-header {
  position: sticky;
  top: 0;
  z-index: 1;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--background-color); /* Fix the background color */
  border-bottom: 1px solid var(--text-color); /* Add thin white line at the bottom */
  padding-bottom: 5px; /* Add padding between the line and the text */
}

.column-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column; /* Default to normal column direction */
  width: 100%; /* Ensure column-content fills the entire width of the column */
  text-align: center;
  
}

/* Specific styles for Preproduction column */
.preproduction .column-content {
  flex-direction: column-reverse; /* New entities appear at the top */
}

/* Specific styles for Storage and Packing columns */
.storage .column-content,
.packing .column-content {
  flex-direction: column; /* New entities appear at the bottom */
}

.entity-row {
  padding: 10px;
  margin: 5px 0;
  border: 2px solid var(--main-color); /* Border with color */
  border-radius: 4px;
  background-color: transparent; /* Remove background color */
  transition: border-color 0.3s ease;
  width: 100%;
}

.entity-row:hover {
  border-color: var(--supporting-color); /* Change border color on hover */
}

.box {
  display: flex; /* Make the box a flex container */
  justify-content: space-between; /* Distribute space between i
  tems */
  padding: 0px 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  text-align: center;
  align-items: center;
  background-color: transparent; /* Remove background color */
}

.box .entity-row {
  margin-right: 10px; /* Add padding between entities */
}

.box .entity-row:last-child {
  margin-right: 0; /* Remove padding for the last entity */
}

.item {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.settings-icon {
  position: fixed;
  bottom: 10px; /* Move to bottom */
  left: 15px; /* Move to the left bottom corner */
  cursor: pointer;
  font-size: 36px; /* Increased font size */
  color: #333;
  z-index: 1000; /* Increased z-index */
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  border-radius: 8px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.target-weight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto; /* Align to the right */
}

.target-weight h2 {
  margin: 0;
}

.target-weight span:first-child {
  font-size: 2em; /* h2 size */
}

.target-weight span:last-child {
  color: grey;
  margin-top: 5px;
}

.grey-text {
  color: grey;
}